MYSQL_ROOT_PASSWORD=change-moi-mot-de-passe-root
MYSQL_DATABASE=pmt_db
MYSQL_USER=pmt_user
MYSQL_PASSWORD=change-moi-mot-de-passe-utilisateur

DB_PORT=3306

PMT_JWT_SECRET=change-moi-32-caracteres-minimum-obligatoire

PMT_CORS_ORIGINS=http://localhost:4200

WEB_PORT=8080
